streamlit
PyMuPDF
langchain
langchain-community
chromadb
python-docx
docx2pdf
huggingface-hub
transformers
faiss-cpu
langchain_groq
sentence-transformers>=3.0.1
langchain==0.2.14
langchain-community==0.2.12
